###################
# compiled source #
###################
*.exe
*.tab.c
*.tab.h
*.yy.c
*.class
test

######################
# Folders  Ignored	 #
#####################
ejemplos/
GAlaDos-MaqVirtual/obj/